.box {
  width: 60%;
  margin: auto;
  text-align: center;
}

.newinput {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

.newinput input {
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  width: 50%;
  font-size: 1rem;
}

.newinput input:focus {
  outline: none;
}

.newinput .editBtn {
  background-color: rgb(210, 39, 39) !important;
  border: none;
  color: #fff;
}
.newinput button {
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: rgb(19, 89, 113);
  background-color: #fff;
  border: 1px solid rgb(19, 89, 113);
}

.newinput button:hover {
  background-color: rgb(19, 89, 113);
  color: #fff;
  transition: 0.5s;
}

.cardBox {
  padding: 20px 50px;
  margin-top: 1rem;
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  margin-top: 1rem;
  width: 92%;
}

.cardList .listBox {
  border-radius: 50px;
  padding: 25px 20px;
  text-align: center;
  width: 190px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.cardList .listBox .btnBox button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.cardList .btnBox .editBtn {
  color: rgb(21, 115, 187);
}
.cardList .btnBox .deleteBtn {
  color: red;
}

.cardList .listBox .btnBox {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media screen and (max-width: 500px) {
  .cardList {
    width: 100%;
    justify-content: center;
  }
  .listBox {
    width: 100% !important;
  }
  .box {
    width: 100% !important;
  }
  .newinput input {
    width: 40%;
  }
}

@media screen and (max-width: 830px) {
  .cardList {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1164px) {
  .cardList {
    justify-content: space-around;
  }
}
